@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);


#dropdown-menu-2btn-6 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-6 .navbar-brand a {
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-2btn-6 .nav .link,
#dropdown-menu-2btn-6 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-2btn-6 .navbar,
#dropdown-menu-2btn-6 .dropdown-menu {
  background: #212121;
}
#dropdown-menu-2btn-6 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-6 .dropdown-menu a:hover,
#dropdown-menu-2btn-6 .dropdown-menu a:focus {
  background: #171717;
}
#dropdown-menu-2btn-6 .navbar-toggler {
  color: #ffffff;
}
#content5-1w .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#content5-1w .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1w .mbr-article {
  color: #fff;
}
#content5-1w .mbr-article P {
  color: #ffffff;
}
#content4-1y .mbr-section-title .mbr-header__text {
  font-size: 25px;
}
#social-buttons2-l .mbr-header__text {
  text-align: left;
  color: #212121;
}
#contacts1-a STRONG {
  color: #bdbdbd;
}
#contacts1-a P {
  color: #bdbdbd;
}
#footer1-n P {
  color: #bdbdbd;
  text-align: center;
}


#dropdown-menu-2btn-6 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-6 .navbar-brand a {
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-2btn-6 .nav .link,
#dropdown-menu-2btn-6 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-2btn-6 .navbar,
#dropdown-menu-2btn-6 .dropdown-menu {
  background: #212121;
}
#dropdown-menu-2btn-6 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-6 .dropdown-menu a:hover,
#dropdown-menu-2btn-6 .dropdown-menu a:focus {
  background: #171717;
}
#dropdown-menu-2btn-6 .navbar-toggler {
  color: #ffffff;
}
#features1-8 P {
  text-align: center;
}
#features1-8 .mbr-section-title .mbr-header__text {
  font-size: 25px;
}
#features1-28 P {
  text-align: center;
}
#social-buttons2-23 .mbr-header__text {
  text-align: left;
  color: #212121;
}
#contacts1-d STRONG {
  color: #bdbdbd;
}
#contacts1-d P {
  color: #bdbdbd;
}
#footer1-n P {
  color: #bdbdbd;
  text-align: center;
}


#dropdown-menu-2btn-c .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-c .navbar-brand a {
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-2btn-c .nav .link,
#dropdown-menu-2btn-c .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-2btn-c .navbar,
#dropdown-menu-2btn-c .dropdown-menu {
  background: #212121;
}
#dropdown-menu-2btn-c .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-c .dropdown-menu a:hover,
#dropdown-menu-2btn-c .dropdown-menu a:focus {
  background: #171717;
}
#dropdown-menu-2btn-c .navbar-toggler {
  color: #ffffff;
}
#form1-e .mbr-header__text {
  color: #ffffff;
}
#social-buttons2-27 .mbr-header__text {
  text-align: left;
  color: #212121;
}
#contacts1-d STRONG {
  color: #bdbdbd;
}
#contacts1-d P {
  color: #bdbdbd;
}
#footer1-n P {
  color: #bdbdbd;
  text-align: center;
}


#dropdown-menu-2btn-g .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-g .navbar-brand a {
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-2btn-g .nav .link,
#dropdown-menu-2btn-g .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-2btn-g .navbar,
#dropdown-menu-2btn-g .dropdown-menu {
  background: #212121;
}
#dropdown-menu-2btn-g .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-g .dropdown-menu a:hover,
#dropdown-menu-2btn-g .dropdown-menu a:focus {
  background: #171717;
}
#dropdown-menu-2btn-g .navbar-toggler {
  color: #ffffff;
}
#features1-j .mbr-section-title .mbr-header__text {
  font-size: 25px;
}
#social-buttons2-24 .mbr-header__text {
  text-align: left;
  color: #212121;
}
#contacts1-h STRONG {
  color: #bdbdbd;
}
#contacts1-h P {
  color: #bdbdbd;
}
#footer1-n P {
  color: #bdbdbd;
  text-align: center;
}


#dropdown-menu-2btn-u .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-u .navbar-brand a {
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-2btn-u .nav .link,
#dropdown-menu-2btn-u .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-2btn-u .navbar,
#dropdown-menu-2btn-u .dropdown-menu {
  background: #212121;
}
#dropdown-menu-2btn-u .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-u .dropdown-menu a:hover,
#dropdown-menu-2btn-u .dropdown-menu a:focus {
  background: #171717;
}
#dropdown-menu-2btn-u .navbar-toggler {
  color: #ffffff;
}
#content5-v .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-v .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-v .mbr-article {
  color: #fff;
}
#content5-v .mbr-article P {
  font-size: 17px;
  color: #ffffff;
}
#content4-z P {
  color: #757575;
}
#content4-z .mbr-section__col .mbr-header__text {
  color: #212121;
}
#content4-z .mbr-section-title .mbr-header__text {
  color: #212121;
}
#social-buttons2-21 .mbr-header__text {
  text-align: left;
  color: #212121;
}
#contacts1-x STRONG {
  color: #bdbdbd;
}
#contacts1-x P {
  color: #bdbdbd;
}
#footer1-y P {
  color: #bdbdbd;
  text-align: center;
}


#dropdown-menu-2btn-10 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-10 .navbar-brand a {
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-2btn-10 .nav .link,
#dropdown-menu-2btn-10 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-2btn-10 .navbar,
#dropdown-menu-2btn-10 .dropdown-menu {
  background: #212121;
}
#dropdown-menu-2btn-10 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-10 .dropdown-menu a:hover,
#dropdown-menu-2btn-10 .dropdown-menu a:focus {
  background: #171717;
}
#dropdown-menu-2btn-10 .navbar-toggler {
  color: #ffffff;
}
#msg-box4-18 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-18 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-18 .mbr-article {
  color: #ffffff;
}
#content4-12 P {
  color: #757575;
  text-align: left;
}
#content4-12 .mbr-section__col .mbr-header__text {
  color: #212121;
  font-size: 15px;
}
#content4-12 .mbr-section-title .mbr-header__text {
  color: #212121;
}
#content4-12 .mbr-header__subtext {
  text-align: center;
}
#social-buttons2-22 .mbr-header__text {
  text-align: left;
  color: #212121;
}
#contacts1-13 STRONG {
  color: #bdbdbd;
}
#contacts1-13 P {
  color: #bdbdbd;
}
#footer1-14 P {
  color: #bdbdbd;
  text-align: center;
}


#dropdown-menu-2btn-1c .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1c .navbar-brand a {
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-2btn-1c .nav .link,
#dropdown-menu-2btn-1c .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-1c .navbar,
#dropdown-menu-2btn-1c .dropdown-menu {
  background: #212121;
}
#dropdown-menu-2btn-1c .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1c .dropdown-menu a:hover,
#dropdown-menu-2btn-1c .dropdown-menu a:focus {
  background: #171717;
}
#dropdown-menu-2btn-1c .navbar-toggler {
  color: #ffffff;
}
#msg-box3-1h .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1h .mbr-header .mbr-header__subtext {
  text-align: center;
}
#social-buttons2-1e .mbr-header__text {
  text-align: left;
  color: #212121;
}
#contacts1-1f STRONG {
  color: #bdbdbd;
}
#contacts1-1f P {
  color: #bdbdbd;
}
#footer1-1g P {
  color: #bdbdbd;
  text-align: center;
}


#dropdown-menu-2btn-1q .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1q .navbar-brand a {
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-2btn-1q .nav .link,
#dropdown-menu-2btn-1q .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-2btn-1q .navbar,
#dropdown-menu-2btn-1q .dropdown-menu {
  background: #212121;
}
#dropdown-menu-2btn-1q .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1q .dropdown-menu a:hover,
#dropdown-menu-2btn-1q .dropdown-menu a:focus {
  background: #171717;
}
#dropdown-menu-2btn-1q .navbar-toggler {
  color: #ffffff;
}
#msg-box4-1s .mbr-header__text {
  color: #212121;
}
#msg-box4-1s .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1s .mbr-article {
  color: #212121;
}
#msg-box4-1t .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1t .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1t .mbr-article {
  color: #ffffff;
}
#social-buttons2-26 .mbr-header__text {
  text-align: left;
  color: #212121;
}
#contacts1-1u STRONG {
  color: #bdbdbd;
}
#contacts1-1u P {
  color: #bdbdbd;
}
#footer1-1v P {
  color: #bdbdbd;
  text-align: center;
}


#dropdown-menu-2btn-1q .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1q .navbar-brand a {
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-2btn-1q .nav .link,
#dropdown-menu-2btn-1q .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-2btn-1q .navbar,
#dropdown-menu-2btn-1q .dropdown-menu {
  background: #212121;
}
#dropdown-menu-2btn-1q .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1q .dropdown-menu a:hover,
#dropdown-menu-2btn-1q .dropdown-menu a:focus {
  background: #171717;
}
#dropdown-menu-2btn-1q .navbar-toggler {
  color: #ffffff;
}
#msg-box4-1o .mbr-header__text {
  color: #212121;
}
#msg-box4-1o .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1o .mbr-article {
  color: #212121;
}
#msg-box4-1p .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1p .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1p .mbr-article {
  color: #ffffff;
}
#social-buttons2-25 .mbr-header__text {
  text-align: left;
  color: #212121;
}
#contacts1-1l STRONG {
  color: #bdbdbd;
}
#contacts1-1l P {
  color: #bdbdbd;
}
#footer1-1m P {
  color: #bdbdbd;
  text-align: center;
}


#dropdown-menu-2btn-2c .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-2c .navbar-brand a {
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-2btn-2c .nav .link,
#dropdown-menu-2btn-2c .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-2btn-2c .navbar,
#dropdown-menu-2btn-2c .dropdown-menu {
  background: #212121;
}
#dropdown-menu-2btn-2c .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-2c .dropdown-menu a:hover,
#dropdown-menu-2btn-2c .dropdown-menu a:focus {
  background: #171717;
}
#dropdown-menu-2btn-2c .navbar-toggler {
  color: #ffffff;
}
#social-buttons2-2h .mbr-header__text {
  text-align: left;
  color: #212121;
}
#contacts1-2i STRONG {
  color: #bdbdbd;
}
#contacts1-2i P {
  color: #bdbdbd;
}
#footer1-2j P {
  color: #bdbdbd;
  text-align: center;
}
